<div>
  @if (user()) {
    <div class="text-center">
      <app-my-account></app-my-account>
      <button class="btn btn-primary m-2" (click)="logout()">Logout</button>
    </div>
  } @else {
    <div class="login-container">
      <h2>Login</h2>

      <form (ngSubmit)="onLogin()">
        <div>
          <label>Email</label>
          <input
            type="email"
            [ngModel]="email()"
            (ngModelChange)="email.set($event)"
            name="email"
            required
          />
        </div>

        <div>
          <label>Password</label>
          <input
            type="password"
            [ngModel]="password()"
            (ngModelChange)="password.set($event)"
            name="password"
            required
          />
        </div>

        <button class="btn btn-primary m-2" type="submit" [disabled]="loading()">
          @if (loading()) {
            Logging in...
          } @else {
            Login
          }
        </button>

        <div>
          <a routerLink="/create-account">Create Account</a>
        </div>
      </form>

      @if (error()) {
        <p style="color: red">{{ error() }}</p>
      }
    </div>
  }
</div>
